################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/001-port-individual-software-project-portfolio-MMukhtar1885/FileContentIndex/13339f6d-c5f1-47ee-a7a4-f48501e02829.vsidx
/.vs/001-port-individual-software-project-portfolio-MMukhtar1885/FileContentIndex/779afcfe-64eb-4fec-97b9-2ad2e9c85eff.vsidx
/Project/.vs/Project/FileContentIndex/b714b748-e13d-48e8-bb37-668443ee8572.vsidx
/.vs/slnx.sqlite
