################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/001-port-individual-software-project-portfolio-MMukhtar1885/FileContentIndex/13339f6d-c5f1-47ee-a7a4-f48501e02829.vsidx
/.vs/001-port-individual-software-project-portfolio-MMukhtar1885/FileContentIndex/779afcfe-64eb-4fec-97b9-2ad2e9c85eff.vsidx
/Project/.vs/Project/FileContentIndex/b714b748-e13d-48e8-bb37-668443ee8572.vsidx
/.vs/slnx.sqlite
/Project/.vs/Project/DesignTimeBuild/.dtbcache.v2
/Project/.vs/Project/FileContentIndex/600ea8d2-74d7-42dd-be00-82fcf3fa298c.vsidx
/Project/.vs/Project/FileContentIndex/99d331f8-58b5-4892-9463-96d639f8deda.vsidx
/Project/.vs/Project/FileContentIndex/aebf85ff-e2ee-446d-916e-331cc24ef387.vsidx
/.vs/001-port-individual-software-project-portfolio-MMukhtar1885/FileContentIndex/48d2cb09-b53e-4464-a7fc-75006ef7fc12.vsidx
